<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="paginator" >
<ul>
<li>
<span th:if="${page.first}">Primera</span>
<a th:if="${not page.first}" th:href="@{${page.url}(page=0)}">Primera</a>
</li>
<li>
<span th:if="${not page.hasPrevius}">Anterior</span>
<a th:if="${page.hasPrevius}" th:href="@{${page.url}(page=${page.paginaActual-2})}">Anterior</a>
</li>
<li th:each="item:${page.paginas}">
<span th:if="${item.actual}" th:text="${item.numero}"></span>
<a th:if="${item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
</li>
<li>
<span th:if="${not page.hasNext}">Siguiente</span>
<a th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">Siguiente</a>
</li>
<li>
<span th:if="${page.last}">Ultima</span>
<a th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">Ultima</a>
</li>
</ul>

</nav>
</body>
</html>